.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(220, 240, 255);
}

.head-part {
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin-top: 5vh;
}

.head-part-left {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 10%;
    line-height: 1;
}

.head-part-left-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30%;
}

.head-part-right {
    width: 20%;
    margin-left: auto;
    padding-right: 10%;
    margin-top: 1%;
}

.head-part-right img {
    width: 100%;
    border-radius: 10px;

}

.parted-line {
    width: 60vw;
    height: 5px;
    background-color: rgb(2, 66, 114);
    border-radius: 20px;
    margin: 1% 0;
}