.main {
    background: linear-gradient(to bottom right, rgb(181, 219, 249), rgb(19, 57, 106));
}

.intro {
    /* background-color: #417ad0; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 60vh;
    height: auto;
    margin-top: 0%;
}

.intro .left-content {
    /* background-color: lightblue; */
    width: 40%;
}

.intro .left-content img {
    width: 40%;
    margin-left: 30%;
    margin-top: 15%;
    border-radius: 20px;
    box-shadow: 0px 0px 200px rgb(255, 255, 255);
}

.intro .left-content img:hover {
    width: 45%;
    transform: translate(-5%, -5%);
}

.intro .right-content {
    /* background-color: lightblue; */
    max-width: 50vw;
    width: auto;
    margin-top: 4%;
    color: rgb(0, 52, 92);
    font-weight: bold;
    font-size: medium;
    margin-left: -5%;
    padding-right: 10%;
}
.intro .right-content-en {
    /* background-color: lightblue; */
    max-width: 50vw;
    width: auto;
    margin-top: 4%;
    color: rgb(0, 52, 92);
    font-weight: bold;
    font-size: medium;
    margin-left: -5%;
    padding-right: 10%;
    display: none;
}

.about {
    /* background-color: darkblue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4.5%;
    justify-content: center;
    margin-top: 3%;
}
.about-en {
    /* background-color: darkblue; */
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4.5%;
    justify-content: center;
    margin-top: 3%;
}

.card {
    background-color: #417ad0;
    background-image: linear-gradient(43deg, #417ad0 0%, #87a5d8 50%, #00e3ef83 100%);
    display: flex;
    justify-content: center;
    height: 40vh;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    text-decoration: none;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: white;
}

.card .card-content .card-title {
    font-size: 5vh;
    font-weight: 600;
    color: inherit;
}

.card .card-content .card-para {
    font-size: 2vh;
    opacity: 0.8;
    color: inherit;
}

.card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.card:hover:before {
    transform: translateX(-100%);
}

.card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.card:hover:after {
    transform: translateX(100%);
}

@media only screen and (max-width: 820px) {
    .intro {
        display: unset;
        flex-direction: unset;
        min-height: unset;
        margin-top: -1%;
        margin-bottom: 3%;
    }

    .intro .left-content {
        /* background-color: lightblue; */
        width: 45%;
        float: left;
    }

    .intro .left-content img {
        width: 70%;
        margin-left: 15%;
        margin-top: 15%;
        box-shadow: 0px 0px 20px rgb(255, 255, 255);
    }

    .intro .left-content img:hover {
        width: 80;
        transform: unset;
    }

    .intro .right-content {
        /* background-color: lightblue; */
        max-width: unset;
        margin-top: 8%;
        margin-left: unset;
        font-size: small;
        padding: 0 5%;
    }
    .intro .right-content-en {
        /* background-color: lightblue; */
        max-width: unset;
        margin-top: 8%;
        margin-left: unset;
        font-size: small;
        padding: 0 5%;
        display: none;
    }

    .about {
        /* background-color: darkblue; */
        flex-direction: column;
        align-items: center;
        gap: unset;
    }
    .about-en {
        /* background-color: darkblue; */
        flex-direction: column;
        align-items: center;
        gap: unset;
        display: none;
    }

    .card {
        height: 45vh;
        margin: 2%;
    }

    .card .card-content .card-title {
        font-size: 5vh;
    }

    .card .card-content .card-para {
        font-size: 2vh;
    }
}
