body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.topbar {
    background-color: #2658c4;
    padding: 10px;
    text-align: right;
    z-index: 1000;
}

.link {
    margin-right: 2%;
}
.link-en {
    margin-right: 2%;
    display: none;
}

.topbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.topbar a:hover {
    color: rgb(0, 217, 255);
    text-decoration: underline;
}

.extra-text {
    color: white;
    float: left;
    font-size: 20px;
    margin-left: 25px;
    font-weight: bold;
}

.extra-text a:hover {
    color: white;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    /* margin-top: 2%; */
    background-color: rgb(49, 101, 131);
}

@media only screen and (max-width: 820px) {
    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
    
    .topbar {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .link {
        margin-right: 2%;
    }
    .link-en {
        gap: 10%;
        margin-right: 2%;
        margin-bottom: 0.8%;
        display: none;
    }
    
    .topbar a {
        color: white;
        text-decoration: none;
    }

    .extra-text {
        /* background-color: rgb(27, 138, 235); */
        margin-bottom: 10px;
        margin-left: unset;
        display: flex;
        justify-content: center;
    }
}